<?xml version="1.0"?>
<!--
/**
 * CoullWorks Banner Slider for Magento 2.
 *
 * @author    danrcoull <ttechitsolutions@gmail.com>
 * @copyright Copyright (c) 2020-2026 CoullWorks
 * @license   Proprietary — see LICENSE.txt
 * @link      https://github.com/CoullWorks/magento2-hero-banner-slider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CoullWorks_BannerSlider">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
