<?xml version="1.0" ?>
<!--
  ~   @author     danrcoull <ttechitsolutions@gmail.com>
  ~   @copyright  27/01/2020, 19:29 danrcoull
  ~   @version   1.0.0
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="coullworks" translate="label" class="coullworks-config-tab" sortOrder="300">
			<label>CoullWorks</label>
		</tab>
		<section id="banner_slider" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Banner Slider</label>
			<tab>coullworks</tab>
			<resource>CoullWorks_BannerSlider::config_coullworks_banner_slider</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
